body {
    background: #f0f0f0;
    font-family: Arial;
    padding: 30px;
}

form {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}